:root {
  --color-bg: #f5f7fa;
  --color-surface: #ffffff;

  --color-primary: #111827;
  --color-secondary: #2563eb;

  --color-hover: #3b82f6;

  --color-text: #1f2937;
  --color-muted: #6b7280;
  --color-border: #e5e7eb;

  --navbar-height: 80px;

  --radius-sm: 6px;
  --radius-md: 10px;

  --transition-fast: 0.2s ease;
  --transition-normal: 0.3s ease;

}